/* Base navigation bar style */
.navigation-bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;

  width: 100%;
  padding: 0.5rem 1rem;
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
  background-color: #fff;
}
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
   padding: 0 20px;
}
.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #1f2937;
}

nav a {
  font-size: 0.875rem;
  color: #6B7280;
  font-weight: 500;
  text-decoration: none;
  transition: color 0.2s;
  padding: 0.5rem;
}

nav a:hover {
  color: #1f2937;
  font-size: 1.2rem;
  text-decoration: underline;
  text-decoration-color: pink;
}
nav a:last-child{
  padding-right: 1.5rem;
}
.menu-toggle {
  display: none;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  padding-right: 2rem;
}

/* Responsive styles */
@media (max-width: 768px) {
  nav {
    flex-direction: column;
    width: 100%;
    display: none;
  }
 nav a {
    padding: 1rem;
    text-align: center;
    width: 100%;
    border-top: 1px solid #f0f0f0;
  }

  .menu-toggle {
    display: block;
  }

  nav.active {
    display: flex;
  }
}
@media (max-width: 400px) {
  nav {
    flex-direction: column;
    width: 70%;
    display: none;
  }
  .menu-toggle{
    /* display: none; */
  background: none;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  padding-right: 1rem;
  }
  .logo{
  font-size: 1rem;
  font-weight: bold;
  color: #1f2937;
}
}
 

#navLinks.active {
  display: flex;
}